@charset "UTF-8";

*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
header h1{
    padding: 10px;
    color: white;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.548);
    font-size: 3em;
    text-align: center;
}
body{
    height: 100vh;
    background: linear-gradient(to bottom, #A020F0, #4169e1, #00b89f);
    background-repeat: no-repeat;
}
form{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 0px black;
}